
{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container mt-4">
    {% if perms.prosopographic.add_bautismo %}
    <!-- Create New Object Button -->
    <div class="text-end mb-3">
        <a href="{% url 'bautismo-new' %}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Añadir un registro de Bautismo</a>
    </div>
    {% endif %}

    {% include 'prosopographic/Browse/paginator.html' %}

    <!-- Grid Layout for Objects -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for object in object_list %}
        <div class="col">
            <div class="card h-100" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Object id: {{ object.pk }}</h5>
                    <p class="card-text">{{ object.bautizado }}</p>
                    <p class="card-text">{{ object.fecha_bautismo }}</p>
                    <a href="{% url 'bautismo-detail' object.pk %}" class="btn btn-outline-secondary">Detalles</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <div class="text-center">
                <p>No hay registros.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}