
{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container mt-4">
    {% if perms.prosopographic.add_bautismo %}
    <!-- Create New Object Button -->
    <div class="text-end mb-3">
        <a href="{% url 'bautismo-new' %}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Añadir un registro de Bautismo</a>
    </div>
    {% endif %}

    <!-- Search Form -->
    <form id="searchForm" action="" method="get" class="input-group mb-3">
        <input type="text" name="q" class="form-control" placeholder="Buscar...">
        <button type="submit" class="btn btn-outline-secondary">Buscar</button>
        <button type="button" id="clearSearch" class="btn btn-outline-secondary">Limpiar</button>
    </form>
    
    <div class="d-flex mb-4">
        <a href="?sort=identificador" class="me-2 btn btn-outline-info">Ordenar por Identificador</a>
        <a href="?sort=titulo_documento" class="btn btn-outline-info">Ordenar por Título de documento</a>
    </div>

    {% include 'paginator.html' %}

    <!-- Grid Layout for Objects -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for object in object_list %}
        <div class="col">
            <div class="card h-100" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ object.bautismo_idno }}</h5>
                    <p class="card-text">{{ object.bautizado }}</p>
                    <p class="card-text">{{ object.fecha_bautismo }}</p>
                    <a href="{% url 'bautismo-detail' object.pk %}" class="btn btn-outline-secondary">Detalles</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <div class="text-center">
                <p>No hay registros.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}