<!-- Cancel Warning modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="CancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar cancelar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
            </div>
            <div class="modal-body">
                ¿Está seguro? Cualquier cambio sin guardar se perderá.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" id="confirmCancel">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var cancelButton = document.getElementById('cancelButton');
        var confirmCancelButton = document.getElementById('confirmCancel');
        var cancelModal = $('#cancelModal');
    
        cancelButton.addEventListener('click', function(e) {
            e.preventDefault();
            cancelModal.modal('show');
        });
    
        confirmCancelButton.addEventListener('click', function() {
            window.location.href = cancelButton.href;
        });
    });
    </script>