{% load i18n %}

{% trans "Hola " %} {{ user.get_username }}

{% blocktrans %}Has recibido este correo como respuesta a tu solicitud de recuperación de la contraseña en {{ site_name }}.{% endblocktrans %}

{% trans "Haz clic en el siguiente enlace y modifica la contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Tu usuario es:" %} {{ user.get_username }}

{% trans "Gestor para la base de datos “La circulación de afrodescendientes esclavizados y libres en la Nueva España”" %}
{% trans "soporte@abcng.org" %}

