{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container mt-4">
    {% if perms.esclavizados.add_documento %}
        <h2>Crea o selecciona un documento para agregar eventos</h2>

        <form action="" method="get" class="input-group mb-3">
            <input type="text" name="q" class="form-control" placeholder="Buscar en el título...">
            <button type="submit" class="btn btn-outline-secondary">Buscar</button>
        </form>

        <!-- Create New Object Button -->
        <div class="mb-3">
            <a href="{% url 'documento-new' %}" class="btn btn-info"><i class="fas fa-file-medical" aria-hidden="true"></i> Crear un documento</a>
        </div>
    {% endif %}

    <!-- Sorting Links -->
    <div class="d-flex mb-4">
        <a href="?sort=created_at" class="me-2 btn btn-outline-info">Ordenar por Fecha de creación</a>
        <a href="?sort=title" class="btn btn-outline-info">Ordenar por Título</a>
        <!-- Add other sorting links as needed -->
    </div>

    <!-- Grid Layout for Objects -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for object in object_list %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.titulo }}</h5>
                        <p class="card-text">{{ object.documento_idno }}</p>
                        <p class="card-text">{{ object.archivo }}</p>
                        <p class="card-text">{{ object.fondo }}</p>
                        <a href="{% url 'documento-detail' object.pk %}" class="btn btn-outline-secondary">Seleccionar documento</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <div class="text-center">
                    <p>No hay documentos aún.</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
