.select2-autocomplete .select2-container {
    width: 100% !important; /* Adjust the width as needed */
}

#userDropdown i {
    font-size: x-large;
    color: black;
}

.group-name {
    font-size: small;
}

.auth-forms-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgba(121, 76, 40, 0.02);
}

.clickable-row {
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clickable-row:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}