{% extends 'main.html' %}

{% block content %}


<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow auth-forms-container">
          {% if perms.esclavizados.delete_documento %}
            <h2>Are you sure you want to remove the relationship?</h2>
            <p>Persona: {{ persona }}</p>
            <p>Documento: {{ documento }}</p>
             
             <form action="{% url 'remove_persona_documento' persona_id=persona.pk documento_id=documento.pk %}" method="post">
                 {% csrf_token %}
                 <input type="submit" value="Confirmar" class="btn btn-danger me-2">
                 <a href="{% url 'documento-browse' %}" class="btn btn-secondary">Cancelar</a>
             </form>
  
          {% else %}
              {% if user.is_authenticated %}
                  {% include '_no_permission.html' %}
              {% else %}
                  {% include '_no_registered.html' %}
              {% endif %}
          {% endif %}
        </div>
    </div>
  </div>
  
  {% endblock %}