{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}
{% load i18n %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow auth-forms-container">
    <h2 class="mb-4">Agregar relación Persona y Lugar</h2>

    {% if perms.esclavizados.add_personalugarrel %}

    <form method="post" class="form" id="newArchivoForm">
        {% csrf_token %}
        {% include '_form_errors.html' %}

        <div class="mb-3">
            <label for="{{ form.documento.id_for_label }}" class="form-label">Documento</label>
            {{ form.documento }}
        </div>

        <div class="mb-3">
            <label for="{{ form.personas.id_for_label }}" class="form-label">Personas</label>
            {{ form.personas }}
        </div>

        <div class="mb-3">
            <label for="{{ form.lugar.id_for_label }}" class="form-label">{{ form.lugar.label }}</label>
            {{ form.lugar }}
            <button type="button" id="add_lugar" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir lugar"><i class="fas fa-map-marked"></i></button>
        </div>

        <div class="mb-3">
            <label for="{{ form.ordinal.id_for_label }}" class="form-label">{{ form.ordinal.label }}</label>
            {{ form.ordinal }}
            <small class="form-text text-muted">
                {% trans "Números positivos indican los lugares después del evento. Los números negativos los lugares previos al evento." %}
            </small>
        </div>

        <div class="mb-3">
            <label for="{{ form.situacion_lugar.id_for_label }}" class="form-label">{{ form.situacion_lugar.label }}</label>
            {{ form.situacion_lugar }}
            <button type="button" id="add_situacion" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir situación en el lugar"><i class="fas fa-street-view"></i></button>
        </div>



        <div class="text-center">
            <button type="submit" class="btn btn-primary me-2">Guardar</button>
            <a href="{% url 'documento-browse' %}" class="btn btn-secondary" id="cancelButton">Cancelar</a>
        </div>
    </form>
</div>
</div>
</div>

<div class="modal fade" id="addDocumentoModal" tabindex="-1" aria-labelledby="addDocumentoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

<div class="modal fade" id="addArchivoModal" tabindex="-1" aria-labelledby="addArchivoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>


<div class="modal fade" id="addPersonaModal" tabindex="-1" aria-labelledby="addPersonaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

<div class="modal fade" id="addLugarModal" tabindex="-1" aria-labelledby="addLugarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

<div class="modal fade" id="addSituacionModal" tabindex="-1" aria-labelledby="addSituacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>


{% include '_cancel_warning.html' %}


{{ form.media }}


<script type="text/javascript">
    bindEventToButton('add_documento', '#addDocumentoModal .modal-content', "{% url 'documento-new' %}", "#newDocumentoForm", "{% url 'documento-new' %}", 'id_documento', '#addDocumentoModal');
    bindEventToButton('add_lugar', '#addLugarModal .modal-content', "{% url 'lugar-new' %}", "#newLugarForm", "{% url 'lugar-new' %}", 'id_lugar', '#addLugarModal');
    bindEventToButton('add_situacion', '#addSituacionModal .modal-content', "{% url 'situacion-new' %}", "#newSituacionForm", "{% url 'situacion-new' %}", 'id_situacion_lugar', '#addSituacionModal');
    
</script>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

    

{% else %}
    
        {% if user.is_authenticated %}
            {% include '_no_permission.html' %}
        {% else %}
        {% include '_no_registered.html' %}
        {% endif %}
        {% endif %}

{% endblock content %}