{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}
{% load i18n %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow auth-forms-container">
    <h2 class="mb-4">Agregar persona esclavizada</h2>

    {% if perms.esclavizados.add_personaesclavizada %}

    <form method="post" class="form" id="newPereForm">
        {% csrf_token %}
        {% include '_form_errors.html' %}

        <div class="mb-3">
            <label for="{{ form.documentos.id_for_label }}" class="form-label">documentos</label>
            {{ form.documentos }}
            <a href="{% url 'documento-new' %}" id="adddocumentosBtn" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir documentos" aria-label="Añadir documentos"><i class="fas fa-file-medical" aria-hidden="true"></i></a>
        </div>

        {% bootstrap_input_group form.nombres form.apellidos label="Nombre" %}

        <div class="mb-3">
            <label for="{{ form.nombre_normalizado.id_for_label }}" class="form-label">Nombre y apellido estandarizados</label>
            {{ form.nombre_normalizado }}
        </div>

        <div class="mb-3">
            <label for="{{ form.sexo.id_for_label }}" class="form-label">{{ form.sexo.label }}</label>
            {{ form.sexo }}
        </div>

        <div class="mb-3">
            <label for="{{ form.edad.id_for_label }}" class="form-label">{{ form.edad.label }}</label>
            {{ form.edad }}
        </div>

        <div class="mb-3">
            <label for="{{ form.altura.id_for_label }}" class="form-label">{{ form.altura.label }}</label>
            {{ form.altura }}
        </div>

        <div class="mb-3">
            <label for="{{ form.cabello.id_for_label }}" class="form-label">{{ form.cabello.label }}</label>
            {{ form.cabello }}
        </div>

        <div class="mb-3">
            <label for="{{ form.ojos.id_for_label }}" class="form-label">{{ form.ojos.label }}</label>
            {{ form.ojos }}
        </div>

        <div class="mb-3">
            <label for="{{ form.calidades.id_for_label }}" class="form-label">{{ form.calidades.label }}</label>
            {{ form.calidades }}
            <button type="button" id="add_calidad" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir calidad"><i class="fas fa-user-tag"></i></button>
        </div>

        <div class="mb-3">
            <label for="{{ form.hispanizacion.id_for_label }}" class="form-label">{{ form.hispanizacion.label }}</label>
            {{ form.hispanizacion }}
            <button type="button" id="add_hispanizacion" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir hispanización"><i class="fas fa-address-card"></i></button>
        </div>

        <div class="mb-3">
            <label for="{{ form.etnonimos.id_for_label }}" class="form-label">{{ form.etnonimos.label }}</label>
            {{ form.etnonimos }}
            <button type="button" id="add_etnonimo" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir etnónimo"><i class="fas fa-street-view"></i></button>
        </div>

        <div class="mb-3">
            <label for="{{ form.procedencia.id_for_label }}" class="form-label">{{ form.procedencia.label }}</label>
            {{ form.procedencia }}
            <button type="button" id="add_procedencia" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir procedencia"><i class="fas fa-map-marked"></i></button>
        </div>

        <div class="mb-3">
            <label for="{{ form.procedencia_adicional.id_for_label }}" class="form-label">{{ form.procedencia_adicional.label }}</label>
            {{ form.procedencia_adicional }}
        </div>

        <div class="mb-3">
            <label for="{{ form.ocupacion.id_for_label }}" class="form-label">{{ form.ocupacion.label }}</label>
            {{ form.ocupacion }}
            <button type="button" id="add_ocupacion" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir ocupación"><i class="fas fa-user-cog"></i></button>
        </div>
        {% bootstrap_field form.ocupacion_categoria %}

        <div class="mb-3">
            <label for="{{ form.marcas_corporales.id_for_label }}" class="form-label">{% trans 'Marcas corporales' %}</label>
            <textarea name="{{ form.marcas_corporales.html_name }}" id="{{ form.marcas_corporales.id_for_label }}" rows="2" cols="40" class="form-control">{{ form.marcas_corporales.value|default_if_none:'' }}</textarea>
        </div>

        {% bootstrap_field form.conducta %}
        {% bootstrap_field form.salud %}

        <div class="mb-3">
            <label for="{{ form.notas.id_for_label }}" class="form-label">{% trans 'Notas al registro de la persona esclavizada' %}</label>
            <textarea name="{{ form.notas.html_name }}" id="{{ form.notas.id_for_label }}" rows="3" cols="40" class="form-control">{{ form.notas.value|default_if_none:'' }}</textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary me-2">Guardar</button>
            <a href="{% url 'documento-browse' %}" class="btn btn-secondary" id="cancelButton">Cancelar</a>
        </div>
    </form>
</div>
</div>
</div>

<div class="modal fade" id="addDocumentoModal" tabindex="-1" aria-labelledby="addDocumentoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>


<div class="modal fade" id="addPersonaModal" tabindex="-1" aria-labelledby="addPersonaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

<div class="modal fade" id="addLugarModal" tabindex="-1" aria-labelledby="addLugarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

<div class="modal fade" id="addCalidadModal" tabindex="-1" aria-labelledby="addCalidadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

<div class="modal fade" id="addHispanizacionModal" tabindex="-1" aria-labelledby="addHispanizacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

<div class="modal fade" id="addEtnonimoModal" tabindex="-1" aria-labelledby="addEtnonimoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

<div class="modal fade" id="addOcupacionModal" tabindex="-1" aria-labelledby="addOcupacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

{% include '_cancel_warning.html' %}


{{ form.media }}


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        bindEventToButton('add_documento', '#addDocumentoModal .modal-content', "{% url 'documento-new' %}", "#newDocumentoForm", "{% url 'documento-new' %}", 'id_documento', '#addDocumentoModal');
        bindEventToButton('add_procedencia', '#addLugarModal .modal-content', "{% url 'lugar-new' %}", "#newLugarForm", "{% url 'lugar-new' %}", 'id_procedencia', '#addLugarModal');
        bindEventToButton('add_calidad', '#addCalidadModal .modal-content', "{% url 'calidad-new' %}", "#newCalidadForm", "{% url 'calidad-new' %}", 'id_calidades', '#addCalidadModal');
        bindEventToButton('add_hispanizacion', '#addHispanizacionModal .modal-content', "{% url 'hispanizacion-new' %}", "#newHispanizacionForm", "{% url 'hispanizacion-new' %}", 'id_hispanizacion', '#addHispanizacionModal');
        bindEventToButton('add_etnonimo', '#addEtnonimoModal .modal-content', "{% url 'etnonimo-new' %}", "#newEtnonimoForm", "{% url 'etnonimo-new' %}", 'id_etnonimos', '#addEtnonimoModal');
        bindEventToButton('add_ocupacion', '#addOcupacionModal .modal-content', "{% url 'ocupacion-new' %}", "#newOcupacionForm", "{% url 'ocupacion-new' %}", 'id_ocupacion', '#addOcupacionModal');
    });
    
</script>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
    

{% else %}
    
        {% if user.is_authenticated %}
            {% include '_no_permission.html' %}
        {% else %}
        {% include '_no_registered.html' %}
        {% endif %}
        {% endif %}

{% endblock content %}