{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow auth-forms-container">
    <h2 class="mb-4">Persona</h2>
    {% if perms.prosopographic.add_persona %}
        <form method="post" class="form">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="{{ form.left_person.id_for_label }}" class="form-label">{{ form.left_person.label }}</label>
                {{ form.left_person }}
                <button type="button" id="add_left_person" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir persona"><i class="fas fa-user-plus"></i></button>
            </div>

            {% bootstrap_field form.relationship_type %}

            <div class="mb-3">
                <label for="{{ form.right_person.id_for_label }}" class="form-label">{{ form.right_person.label }}</label>
                {{ form.right_person }}
                <button type="button" id="add_right_person" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir persona"><i class="fas fa-user-plus"></i></button>
            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-primary me-2">Guardar</button>
                <a href="{% url 'persona-browse' %}" class="btn btn-secondary" id="cancelButton">Cancelar</a>
            </div>
        </form>
    </div>
    </div>
    </div>

    {% include '_cancel_warning.html' %}
        
        
        {{ form.media }}
        
        
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                bindEventToButton('add_lugar_nacimiento', '#addLugarModal .modal-content', "{% url 'lugar-new' %}", "#newLugarForm", '/toolbox/Form/new/lugar/', 'id_lugar_nacimiento', '#addLugarModal');
                bindEventToButton('add_vecindad', '#addLugarModal .modal-content', "{% url 'lugar-new' %}", "#newLugarForm", '/toolbox/Form/new/lugar/', 'id_vecindad', '#addLugarModal');
            });
            
        </script>
        
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
        {% else %}
    
        {% if user.is_authenticated %}
            {% include '_no_permission.html' %}
        {% else %}
        {% include '_no_registered.html' %}
        {% endif %}
        {% endif %}



</div>

    {% endblock content %}