{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container mt-4">
    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1 class="display-4">Neogranadina Toolbox</h1>
        <p class="lead">Plataforma para la catalogación y descripción colaborativa</p>
        <hr class="my-4">
        <p>Explorar</p>
        <a class="btn btn-primary btn-lg" href="{% url 'bautismo-browse' %}" role="button">Explorar Bautismos</a>
        <a class="btn btn-primary btn-lg" href="{% url 'matrimonio-browse' %}" role="button">Explorar Matrimonios</a>
        <a class="btn btn-primary btn-lg" href="{% url 'entierro-browse' %}" role="button">Explorar Entierros</a>
    </div>
    
</div>

{% endblock content %}
