{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container mt-4">

    <h1>Detalle del archivo</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Archivo: {{ archivo.nombre }}</h2>
            <p class="card-text"> {{ archivo.nombre_abreviado }}</p>

            <p class="card-text"> {{ archivo.ubicacion_archivo }} <a href="https://www.google.com/maps/place/{{ archivo.ubicacion_archivo }},+Mexico", target="_blank"><i class="fas fa-map-marker-alt"></i> </a> </p>

            {% if perms.esclavizados.add_documento %} <a href='{% url 'documento-new' %}?archivo_initial={{ archivo.pk }}' class="btn btn-primary me-2"><i class="far fa-plus-square"></i> Agregar un nuevo documento a {{ archivo.nombre_abreviado }}</a>{% endif %}

            <div class="row" style="padding:15px;">
                {% for documento in documentos %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            {{ documento.titulo }} (ID: {{ documento.documento_idno }})
                            {% if perms.esclavizados.add_documento %} <a href='{% url 'documento-detail' documento.pk %}' class="btn btn-outline-dark me-2"><i class="far fa-eye"></i></a>{% endif %}
                        </div>
                        <div class="card-body">
                            <p><i class="far fa-folder-open"></i> {{ documento.fondo }}, {{ documento.subfondo }},
                                {% if documento.sigla_documento %} {{ documento.sigla_documento }}, {% endif %} {{ documento.get_tipo_udc_display }} {{ documento.unidad_documental_compuesta }}, f. {{ documento.folio_inicial }}</p>
                                <p class="card-text">{{ documento.get_tipo_documento_display }}</p>
                                <p class="card-text"><i class="far fa-calendar-alt"></i> {{ documento.fecha_inicial }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>        
    </div>

    <!-- Action Buttons -->
    <div class="btn-group">
        <a href="{% url 'archivo-browse' %}" class="btn btn-outline-secondary">Regresar</a>
        {% if perms.esclavizados.add_archivo %}
        <a href="{% url 'archivo-update' archivo.pk %}" class="btn btn-outline-primary">Editar</a>
        {% endif %}
        {% if perms.esclavizados.delete_archivo %}
        <a href="{% url 'archivo-delete' archivo.pk %}" class="btn btn-outline-danger">Borrar</a>
        {% endif %}
    </div>

</div>


<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

{% endblock content %}
