{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}

{% block content %}
{% load i18n %}
{% load custom_filters %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="text-center mb-4">
                <h1>Detalle de la Persona No Esclavizada: {% if personanoesclavizada.honorifico and personanoesclavizada.honorifico != 'nan' %}{{ personanoesclavizada.honorifico}}{%endif%} {{ personanoesclavizada.nombre_normalizado }}</h1>
            </div>

            <!-- Basic Information -->
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Información Básica</h2>
                </div>
                <div class="card-body">
                    <p><strong>ID Normalizado:</strong> {{ personanoesclavizada.persona_idno }}</p>
                    <p><strong>Nombres:</strong> {{ personanoesclavizada.nombres }}</p>
                    <p><strong>Apellidos:</strong> 
                        {% if personanoesclavizada.apellidos %}
                            {{ personanoesclavizada.apellidos }}</p>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    {% if personanoesclavizada.fecha_nacimiento %}
                    <p><strong>Fecha de Nacimiento:</strong> {{ personanoesclavizada.fecha_nacimiento }}{% if personanoesclavizada.fecha_nacimiento_factual %} <i>aprox.</i> {% endif %} {% if personanoesclavizada.lugar_nacimiento %}({{ personanoesclavizada.lugar_nacimiento }}){% endif %}</p>
                    {% endif %}
                    {% if personanoesclavizada.fecha_defuncion %}
                    <p><strong>Fecha de Defunción:</strong> {{ personanoesclavizada.fecha_defuncion }} {% if personanoesclavizada.fecha_defuncion_factual %} <i>aprox.</i> {% endif %} {% if personanoesclavizada.lugar_defuncion %}({{ personanoesclavizada.lugar_defuncion }}){% endif %}</p>
                    {% endif %}
                </div>
            </div>

            <!-- Biographical Details -->
            <div class="card mb-3">
                <div class="card-header">
                    <h2>{% trans 'Detalles Biográficos'%}</h2>
                </div>
                <div class="card-body">
                    <p><strong>Sexo:</strong> {{ personanoesclavizada.get_sexo_display }}</p>
                    {% display_field personanoesclavizada "edad" "Edad" %}
                    {% display_field personanoesclavizada "ocupacion" "Actividad" %}
                    {% if personanoesclavizada.calidades %}
                    <p><strong>Calidades:</strong>
                    {% for calidad in personanoesclavizada.calidades.all %}
                    {{ calidad.calidad }}
                    {% endfor %}
                    </p>
                    {% endif %}

                    
                </div>
            </div>
            {% if personanoesclavizada.notas %}
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Notas a la persona</h2>
                </div>
                <div class="card-body">
                    <p>{{ personanoesclavizada.notas }}</p>
                </div>
            </div>
            {% endif %}


            {% if personanoesclavizada.rol_evento %}
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Roles en los eventos</h2>
                </div>
                <div class='card-body'>
                    {% for evento in personanoesclavizada.rol_evento.all %}
                     <p>{{ evento }}</p>
                     {% empty %}
                     <p>No hay roles registrados.</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <!-- Associated Documents -->
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Documentos Asociados</h2>
                </div>
                <div class="card-body">
                    {% for documento in personanoesclavizada.documentos.all %}
                        <p><a href={% url 'documento-detail' documento.pk %}>{{ documento }}</a></p>
                    {% empty %}
                        <p>No hay documentos asociados.</p>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Places -->
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Lugares de la persona</h2>
                </div>
                <div class="card-body">
                    <p>En este espacio se listan los lugares por lo cuales esta persona transitó.</p>
                    
                    {% for lugar, documento in ordered_places %}
                        <p>{{ lugar.nombre_lugar }} ({{ lugar.tipo }}) <a href="{% url 'documento-detail' documento.pk %}" class="btn btn-sm me-2"><i class="far fa-file-alt"></i></a> </p>
                    {% empty %}
                        <p>No hay lugares asociados.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Relations -->
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Personas relacionadas</h2>
                </div>
                <div class="card-body">
                    
                    {% for persona in personapersonarel %}
                        {% for personar in persona.personas.all %}
                            {% if personaesclavizada.persona_idno != personar.persona_idno %}
                                {% with personar.persona_type as type %}
                                    {% if type == 'esclavizada' %}
                                        <p><a href="{% url 'personaesclavizada_detail' personar.pk %}">
                                    {% elif type == 'noesclavizada' %}
                                        <p><a href="{% url 'personanoesclavizada_detail' personar.pk %}">
                                    {% endif %}
                                    {{ personar.nombre_normalizado }}</a> ({{ personar.persona_idno }}) [{{ persona.get_naturaleza_relacion_display }}]
                                    </p>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    {% empty %}
                        <p>No hay personas relacionadas.</p>
                    {% endfor %}


                </div>
            </div>

            <!-- Corporaciones asociadas -->
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Instituciones Asociadas</h2>
                </div>
                <div class="card-body">
                    {% for entidad in corporaciones %}
                        <p><a href={% url 'institucion_detail' entidad.pk %}>{{ entidad }}</a></p>
                    {% empty %}
                        <p>No hay entidades asociadas.</p>
                    {% endfor %}
                </div>
            </div>
            

            <!-- Historial -->
            <div class="card mb-3">
                <div class="card-header" data-bs-toggle="collapse" href="#changeHistory" role="button" aria-expanded="false" aria-controls="changeHistory">
                    <i class="fas fa-history"></i> Historial de cambios:
                </div>
                <div class="collapse" id="changeHistory">
                    <ul class="list-group list-group-flush">
                        {% for record in history_records %}
                            <li class="list-group-item">
                                <i class="far fa-user"></i> {{ record.history_user }} 
                                <span class="text-muted" style="float:right;">
                                    <i class="far fa-calendar-alt"></i> {{ record.history_date|date:"d M Y H:i:s" }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- End of historial -->

            <!-- Action Buttons -->
            <div class="d-flex justify-content-between align-items-center mt-4">
                <a href="{% url 'personasesclavizadas-browse' %}" class="btn btn-outline-secondary">Regresar</a>
                <div>
                    {% if perms.esclavizados.add_personanoesclavizada %}
                        <a href="{% url 'personanoesclavizada-update' personanoesclavizada.pk %}" class="btn btn-outline-primary me-2">Editar</a>
                    {% endif %}
                    {% if perms.dbgraphic.delete_personanoesclavizada %}
                        <a href="{% url 'personanoesclavizada-delete' personanoesclavizada.pk %}" class="btn btn-outline-danger">Borrar</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

{% endblock content %}
