{% load static %}
{% load i18n %}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted"><i>fisqua</i> es una herramienta en desarrollo de <a href="https://neogranadina.org/">Neogranadina</a>.</p>
  
      <a href="{% url 'home' %}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="{% static 'mdb/media/logo-circular.png' %}" alt="" width="auto" height="50">
      </a>
  
      <div class="nav col-md-4 justify-content-end">
        <p  class="text-muted">V. 0.0.4</a></li>
      </div>
    </footer>
  </div>