{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow auth-forms-container">
    <h2 class="mb-4">Matrimonio</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {% include '_form_errors.html' %}
        
        <h3>Documento de matrimonio:</h3>
    
        <div class="mb-3">
            <label for="{{ form.acta_matrimonio.id_for_label }}" class="form-label">{{ form.acta_matrimonio.label }}</label>
            {{ form.acta_matrimonio }}
            <button type="button" id="add_acta_matrimonio" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir documento"><i class="fas fa-file-medical"></i></button>
        </div>

        <h3>Acto matrimonial</h3>
        {% bootstrap_field form.fecha_matrimonio %}
        <div class="mb-3">
            <label for="{{ form.lugar_matrimonio.id_for_label }}" class="form-label">{{ form.lugar_matrimonio.label }}</label>
            {{ form.lugar_matrimonio }}
            <button type="button" id="add_lugar_matrimonio" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir lugar"><i class="fas fa-map-marked"></i></button>
        </div>

        <h3>Datos de los contrayentes</h3>
        <h4>Sobre el contrayente</h4>
        <div class="mb-3">
            <label for="{{ form.esposo.id_for_label }}" class="form-label">{{ form.esposo.label }}</label>
            {{ form.esposo }}
            <button type="button" id="add_esposo" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir persona"><i class="fas fa-user-plus"></i></button>
        </div>

        {% bootstrap_field form.estado_esposo %}
        {% bootstrap_field form.edad_esposo %}
        <div class="mb-3">
            <label for="{{ form.natural_de_esposo.id_for_label }}" class="form-label">{{ form.natural_de_esposo.label }}</label>
            {{ form.natural_de_esposo }}
            <button type="button" id="add_natural_de_esposo" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir lugar"><i class="fas fa-map-marked"></i></button>
        </div>
        <div class="mb-3">
            <label for="{{ form.residente_en_esposo.id_for_label }}" class="form-label">{{ form.residente_en_esposo.label }}</label>
            {{ form.residente_en_esposo }}
            <button type="button" id="add_residente_en_esposo" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir lugar"><i class="fas fa-map-marked"></i></button>
        </div>

        {% bootstrap_field form.legitimidad_esposo %}
        <h4>Padres del contrayente</h4>
        <div class="mb-3">
            <label for="{{ form.padre_esposo.id_for_label }}" class="form-label">{{ form.padre_esposo.label }}</label>
            {{ form.padre_esposo }}
            <button type="button" id="add_padre_esposo" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir persona"><i class="fas fa-user-plus"></i></button>
        </div>
        <div class="mb-3">
            <label for="{{ form.madre_esposo.id_for_label }}" class="form-label">{{ form.madre_esposo.label }}</label>
            {{ form.madre_esposo }}
            <button type="button" id="add_madre_esposo" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir persona"><i class="fas fa-user-plus"></i></button>
        </div>

        <h4>Sobre la contrayente</h4>
        <div class="mb-3">
            <label for="{{ form.esposa.id_for_label }}" class="form-label">{{ form.esposa.label }}</label>
            {{ form.esposa }}
            <button type="button" id="add_esposa" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir persona"><i class="fas fa-user-plus"></i></button>
        </div>

        {% bootstrap_field form.estado_esposa %}
        {% bootstrap_field form.edad_esposa %}
        
        <div class="mb-3">
            <label for="{{ form.natural_de_esposa.id_for_label }}" class="form-label">{{ form.natural_de_esposa.label }}</label>
            {{ form.natural_de_esposa }}
            <button type="button" id="add_natural_de_esposa" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir lugar"><i class="fas fa-map-marked"></i></button>
        </div>
        <div class="mb-3">
            <label for="{{ form.residente_en_esposa.id_for_label }}" class="form-label">{{ form.residente_en_esposa.label }}</label>
            {{ form.residente_en_esposa }}
            <button type="button" id="add_residente_en_esposa" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir lugar"><i class="fas fa-map-marked"></i></button>
        </div>

        {% bootstrap_field form.legitimidad_esposa %}
        <h4>Padres del contrayente</h4>
        <div class="mb-3">
            <label for="{{ form.padre_esposa.id_for_label }}" class="form-label">{{ form.padre_esposa.label }}</label>
            {{ form.padre_esposa }}
            <button type="button" id="add_padre_esposa" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir persona"><i class="fas fa-user-plus"></i></button>
        </div>
        <div class="mb-3">
            <label for="{{ form.madre_esposa.id_for_label }}" class="form-label">{{ form.madre_esposa.label }}</label>
            {{ form.madre_esposa }}
            <button type="button" id="add_madre_esposa" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir persona"><i class="fas fa-user-plus"></i></button>
        </div>

        <h4>Padrinos y testigos</h4>

        {% bootstrap_field form.padrinos %}
        {% bootstrap_field form.testigos %}

        
        <div class="text-center">
            <button type="submit" class="btn btn-primary me-2">Guardar</button>
            <a href="{% url 'matrimonio-browse' %}" class="btn btn-secondary" id="cancelButton">Cancelar</a>
        </div>
    </form>
</div>
</div>
</div>


<div class="modal fade" id="addDocumentoModal" tabindex="-1" aria-labelledby="addDocumentoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>


<div class="modal fade" id="addPersonaModal" tabindex="-1" aria-labelledby="addPersonaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

<div class="modal fade" id="addLugarModal" tabindex="-1" aria-labelledby="addLugarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Dynamic form content will be loaded here -->

        </div>
    </div>
</div>

{% include '_cancel_warning.html' %}


{{ form.media }}


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        // Documentos
        bindEventToButton('add_acta_matrimonio', '#addDocumentoModal .modal-content', "{% url 'documento-new' %}", "#newDocumentoForm", '/toolbox/Form/new/documento/', 'id_acta_matrimonio', '#addDocumentoModal');
        // Personas
        bindEventToButton('add_esposo', '#addPersonaModal .modal-content', "{% url 'persona-new' %}", "#newPersonaForm", '/toolbox/Form/new/persona/', 'id_esposo', '#addPersonaModal');
        bindEventToButton('add_padre_esposo', '#addPersonaModal .modal-content', "{% url 'persona-new' %}", "#newPersonaForm", '/toolbox/Form/new/persona/', 'id_padre_esposo', '#addPersonaModal');
        bindEventToButton('add_madre_esposo', '#addPersonaModal .modal-content', "{% url 'persona-new' %}", "#newPersonaForm", '/toolbox/Form/new/persona/', 'id_madre_esposo', '#addPersonaModal');
        bindEventToButton('add_esposa', '#addPersonaModal .modal-content', "{% url 'persona-new' %}", "#newPersonaForm", '/toolbox/Form/new/persona/', 'id_esposa', '#addPersonaModal');
        bindEventToButton('add_padre_esposa', '#addPersonaModal .modal-content', "{% url 'persona-new' %}", "#newPersonaForm", '/toolbox/Form/new/persona/', 'id_padre_esposa', '#addPersonaModal');
        bindEventToButton('add_madre_esposa', '#addPersonaModal .modal-content', "{% url 'persona-new' %}", "#newPersonaForm", '/toolbox/Form/new/persona/', 'id_madre_esposa', '#addPersonaModal');
        // Lugares
        bindEventToButton('add_lugar_matrimonio', '#addLugarModal .modal-content', "{% url 'lugar-new' %}", "#newLugarForm", '/toolbox/Form/new/lugar/', 'id_lugar_matrimonio', '#addLugarModal');
        bindEventToButton('add_natural_de_esposo', '#addLugarModal .modal-content', "{% url 'lugar-new' %}", "#newLugarForm", '/toolbox/Form/new/lugar/', 'id_natural_de_esposo', '#addLugarModal');
        bindEventToButton('add_residente_en_esposo', '#addLugarModal .modal-content', "{% url 'lugar-new' %}", "#newLugarForm", '/toolbox/Form/new/lugar/', 'id_residente_en_esposo', '#addLugarModal');
        bindEventToButton('add_natural_de_esposa', '#addLugarModal .modal-content', "{% url 'lugar-new' %}", "#newLugarForm", '/toolbox/Form/new/lugar/', 'id_natural_de_esposa', '#addLugarModal');
        bindEventToButton('add_residente_en_esposa', '#addLugarModal .modal-content', "{% url 'lugar-new' %}", "#newLugarForm", '/toolbox/Form/new/lugar/', 'id_residente_en_esposa', '#addLugarModal');
    });
    
</script>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

{% endblock content %}