<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Agregar etnónimo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form method="post" class="etnonimo_form" id="newEtnonimoForm">
        {% csrf_token %}
        {% if create_etnonimo.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in create_etnonimo.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {{ create_etnonimo.etonimo }}
            
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>